body {
background-color:EEEEEE ;
color: rgb(30, 30, 30);
font-family: calibri;
font-weight: 300;
}

h1{
color: 1C658C;
font-family: helvetica;
font-weight: 700;
letter-spacing: 6px;
font-size: 60px;
}

h2{
color: 398AB9;
font-family: helvetica;
font-weight: 200;
}

a:hover{
	color: black;
}

div {
background-color: white;

margin: 10px;
}

/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container{
		width: 400px;
	}
}


.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.image-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: 1C658C ;
	color: white;
	padding: 15px 20px ;
	border-radius: 4px;
}

.btn-blue: hover {
	background-color: yellowgreen;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(100, 100, 100);
} 

.list-inline i: hover {
	color: black;
} 

#introduction p {
	margin-bottom: 40px;
}


